<% layout("layouts/boilerplate.ejs") %>
<body>
    <h3>Bihar Clothes</h3>
    
    <ul>
        <li><%= clothing.name %></li>
        <li><%= clothing.description %></li>
        <li><%= clothing.category %></li>
        <li><%= clothing.price %></li>
    </ul>
</body>


