<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Bihar</title>
</head>
<body>
    <h3>Create New TouristPlaces</h3>
    <form method="post">
        <input placeholder="enter places Name" type="text"/>
        <br/>
        <br/>
        <textarea placeholder="Enter details of Place"></textarea>
    </form>
</body>
</html>